# Environment
/vendor/
/node_modules/
/public/css/style.css
/.env
/docker-compose.override.yml
/.phpunit.cache/
/.php-cs-fixer.cache
.phpunit.result.cache

# Playwright
/playwright-report/
/test-results/
/playwright/.auth/

# macOS
.DS_Store

# IDEs
/.idea/
/.vscode/

#File Types
*.zip
.phpunit.result.cache

# Legacy 
/Stellar-Dominion-Game/
/legacy_files/